
body {
  font-family: Helvetica Neue;
  margin: 0;
}

header,
footer {
  color: #fff;
  background: #900;
  padding: 0.5rem 1rem;
}

.page {
  max-width: 900px;
  min-height: 50vh;
  margin: 0 auto;
}

.c-main {
  padding: 1rem;
}

.c-link-rev {
  color: #fff;
}

.i, .a {
  display: inline-block;
  margin-right: 0.125rem;
}
